<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean id ="department" class="ncu.MavenSpringProgram1.Department"  >
		<property name ="departmentNo" value="1"/>
		<property name ="departmentName" value="Computer Science"/>
		<property name ="departmentPhoneNo" value="1234567890"/>
	</bean>
	<bean id ="address" class="ncu.MavenSpringProgram1.Address" >
		<property name ="city" value="Sirsa"/>
		<property name ="state" value="Haryana"/>
		<property name ="country" value="India"/>
	</bean>
	<bean id ="employee" class="ncu.MavenSpringProgram1.Employee" autowire="constructor">
		<property name ="name" value="Chirag Sardana"/>
		<property name ="employeeNo" value="1123456789"/>
	</bean>
	<bean id ="employee1" class="ncu.MavenSpringProgram1.Employee" autowire="byName">
		<property name ="name" value="Ayush Singh"/>
		<property name ="employeeNo" value="1123456789"/>
	</bean>

	<bean id ="employee2" class="ncu.MavenSpringProgram1.Employee" autowire="byType">
		<property name ="name" value="Deepak Jindal"/>
		<property name ="employeeNo" value="1123456789"/>
	</bean>
</beans>